body {
  font-family: "IBM Plex Sans";
  background-color: #000;
  color: #fff;
  margin: 0px;
  overflow: hidden;
}

#action-btn {
  position: absolute;
  left: 50%;
  bottom: 5px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: #3b53a2;
  font-size: 25px;
  color: #fff;
  transform: translateX(-50%);
  z-index: 9;
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 2s;
}

@keyframes fade-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#menu {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000;
}
.menu-item {
  background-color: #000;
  font-size: 40px;
  padding: 20px;
}
.menu-item a,
.menu-item a:visited {
  color: #fff;
}
.menu-item a:hover,
.menu-item a:focus,
.menu-item a:active,
.menu-item.highlighted a {
  color: #f00;
}

.section {
  display: none;
  position: absolute;
  width: 90vw;
  height: 90vh;
  left: 50%;
  margin-left: -45vw;
  top: 50%;
  margin-top: -45vh;
  background-color: #ff0000;
}
#section-video {
  background-color: #ff0000;
}
#section-music {
  background-color: #00ff00;
}
#section-contact {
  background-color: #0000ff;
}

#bottom-title {
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  position: absolute;
  width: 100%;
}
.bottom-title-single {
  display: none;
}
.bottom-title-single.highlighted {
  display: block;
}
